= wrap_layout :layout do

  - if is_blog_article?
    %article
      %header.article__header
        %h2.article__title= current_article.title
      %section.article__info
        %aside.article__meta
          %h5.time__title on
          %time.date{ :datetime => "#{current_article.date}" }
            = current_article.date.strftime("%B ’%y")
          %dl.tags
            - if current_article.tags.present?
              %dt.tags__title about
              %dd.tags__item
                - current_article.tags.each do |tag|
                  = link_to tag, tag_path(tag), class: "tag__link"
        %h3.article__description At a crossroads in my professional life, I often find myself reflecting on what is “right” or “good” ethically, for my future, and the positives I experienced at each workplace.

      %section.article__body
        = yield

      %nav.footerNav
        - if current_article
          - current_index = blog.articles.index(current_article)
          - next_blog = blog.articles[current_index - 1] if current_index > 0
          - prev_blog = blog.articles[current_index + 1] if current_index < blog.articles.length - 1
          .ol.footerNav__list
            %li.footerNav__item
              - if prev_blog
                %div
                  Previous article:
                  %a{:href => prev_blog.url}
                    = prev_blog.title
            %li.footerNav__item
              - if next_blog
                %div
                  Next article:
                  %a{:href => next_blog.url}
                    = next_blog.title
