= wrap_layout :layout do

  - if is_blog_article?
    %article
      %header.article__header
        %h2.article__title= current_article.title
        %section.article__meta
          %dl.date
            %dt.date__title written
            %time.date__item{ :datetime => "#{current_article.date}" }
              = current_article.date.strftime("%B %e, %Y")
          %dl.tags
            - if current_article.tags.present?
              %dt.tags__title about
              - current_article.tags.each do |tag|
                %dd.tags__item
                  = link_to tag, tag_path(tag), class: "tags__link"

      %section.article__body
        = yield

      %nav.pagination
        - if current_article
          - current_index = blog.articles.index(current_article)
          - next_blog = blog.articles[current_index - 1] if current_index > 0
          - prev_blog = blog.articles[current_index + 1] if current_index < blog.articles.length - 1
          %ol.pagination--summary__list
            %li.pagination__item--prev
              - if prev_blog
                = link_to prev_blog.url, class: "pagination--summary__link" do
                  %h6.pagination--summary__heading &larr; previous article
                  %h5.pagination--summary__title= prev_blog.title

            %li.pagination__item--next
              - if next_blog
                = link_to next_blog.url, class: "pagination--summary__link" do
                  %h6.pagination--summary__heading next article &rarr;
                  %h5.pagination--summary__title= next_blog.title
