%h1.headerName
  = link_to "Alejandra Luaces", "/", class: "headerName__link";

%nav.navHeader
  %ul.navHeader__list
    %li.navHeader__item
      = navbar_link_to "Writing", "/writing/"
    %li.navHeader__item
      = navbar_link_to "Work", "/work/"
    %li.navHeader__item
      = navbar_link_to "Resources", "/resources/"
    %li.navHeader__item
      = navbar_link_to "Contact", "/contact/"
