.headerMain
  %h1.headerName
    = link_to "Alejandra Luaces", "/", class: "headerName__link";

  %nav.navHeader
    %ul.navHeader__list
      %li.navHeader__item
        = link_to "Writing", "/writing", class: "navHeader__link"
      %li.navHeader__item
        = link_to "Work", "/work", class: "navHeader__link"
      %li.navHeader__item
        = link_to "Resources", "/resources", class: "navHeader__link"
      %li.navHeader__item
        = link_to "Contact", "/contact", class: "navHeader__link"
