.articlesContainer
  %ol
    - blog.articles.each do |article|
      %dl.articleSummary
        = link_to article
        %dt.scale--4= article.title
        %span= article.date.strftime('%b %e')
      %p= article.metadata[:page]["description"]

  %h2 Topics
  %ol
    - blog.tags.each do |tag, articles|
      %li= link_to "#{tag} (#{articles.size})", tag_path(tag)
