.portfolioItem__imageContainer
  %img{:src => "../images/work/#{data.whittl["image"]}", class: "portfolioItem__image"}
  %figcaption.portfolioItem__caption= data.whittl["action"]
%dt.portfolioItem__name= data.whittl["title"]
.portfolioItem__tags= data.whittl["tags"]
%dd.portfolioItem__description= data.whittl["description"]
