%head
  %meta{charset: "utf-8"}

  = stylesheet_link_tag "application", media: "screen"

  %script{:src => "//use.typekit.net/jir0eqe.js"}
  :javascript
    try{Typekit.load();}catch(e){}

%body
  %section.index.bigBackground--chalk.flexbox--center
    %h1.index--heading Alejandra Luaces
    %section.social
      = link_to image_tag("/images/icons/git.svg", alt: "Github", class: "icon"), "http://github.com/alejandraluaces"
      = link_to image_tag("/images/icons/rdio.svg", alt: "Rdio", class: "icon"), "http://www.rdio.com/people/aluaces/"
      = link_to image_tag("/images/icons/twit.svg", alt: "Twitter", class: "icon"), "http://twitter.com/alejandraluaces"
      = link_to image_tag("/images/icons/drib.svg", alt: "Dribbble", class: "icon"), "http://dribbble.com/alejandraluaces"
