%head
  %meta{charset: "utf-8"}

  = stylesheet_link_tag "application", media: "screen"

  %script{:src => "//use.typekit.net/jir0eqe.js"}
  :javascript
    try{Typekit.load();}catch(e){}

%body
  %section.index.bigBackground--chalk.flexbox--center
    %h1.index--heading Alejandra Luaces
    %section.social
      = link_to "http://github.com/alejandraluaces" do
        = partial "/images/icons/git.svg"
      = link_to "http://www.rdio.com/people/aluaces" do
        = partial "/images/icons/rdio.svg"
      = link_to "http://twitter.com/alejandraluaces" do
        = partial "/images/icons/twit.svg"
      = link_to "http://dribbble.com/alejandraluaces" do
        = partial "/images/icons/drib.svg"
